importFrom("grDevices", dev.interactive)
importFrom("graphics", locator, par, plot, text, title)
importFrom("stats", cov2cor, median)

export(agglomblock, allcrit, corcomp, covcomp,
 # eqmatrix,
       firstpcres,
 # isblockempty, isdiffcomp, iswithinblock,
       maxmatrix, nextdiff,
 # normmatrix,
       percent, quickcrit,
 # redrawMatrix,
       sca, sccrit,
       shrinkdiff, simpvector,
       sortmatrix)


S3method(print, simpcomp)
